body {
  padding-top: 79px;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Play', sans-serif;
}

body h1 {
  font-size: 40pt;
  margin-top: -5px;
  color: white;
}

.navbar a:hover, .navbar a:focus {
  text-decoration: none;
  color: gray;
}

.navbar.navbar-inverse.navbar-fixed-top {
  height: 80px;
  background-color: #383961;
}

.navbar-text.navbar-right {
  margin-top: 2em;
}

.navbar-text.navbar-right a {
  margin: 1em;
  color: white;
  font-size: 1.25em;
}

h3 {
  font-size: 23pt;
}

@media only screen and (max-width: 990px) {
  h1, h3 { font-size: 25pt; }
  h1 { margin-top: 0; }
}

@media only screen and (max-width: 767px) {
  .navbar.navbar-inverse.navbar-fixed-top { height: 100px; }
  .navbar-text.navbar-right { margin-top: 1em; }
  .navbar-text.navbar-right a { margin-left: 0; }
  body { padding-top: 100px; }
}